<div class="header" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)),
  url( <%= cl_image_path @list.photo.key %> )" >
  <h1 class="text-center">
    <%= @list.name %>
  </h1>
</div>
<div class="container py-4">
  <div class="d-flex justify-content-between py-4">
    <%= link_to 'Add a Movie', new_list_bookmark_path(@list) %>
    <%= link_to 'Delete List', list_path(@list), method: :delete, data: { confirm: 'Are you sure you want to delete this list?' } %>
  </div>
  <div class="movie-cards">
    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <div class="card-movie">
        <%= image_tag movie.poster_url, alt: movie.title, class: 'movie-img' %>
        <div class="card-text">
          <h3>
            <%= movie.title %>
          </h3>
          <p>
            <%= movie.overview %>
          </p>
          <hr>
          <p class="movie-comment">
            <%= bookmark.comment %>
          </p>
          <%= link_to 'Delete This Movie', bookmark_path(bookmark), method: :delete %>
        </div>
      </div>
    <% end %>
  </div>
</div>
